@font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: Inter;
    color: hsl(0, 0%, 100%);

    background-color: hsl(0, 0%, 8%);

    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-align: center;

    background-color: hsl(0, 0%, 12%);

    border-radius: 1rem;

    width: clamp(20%, 360px, 90%);
    height: clamp(30%, 576px, 80%);

    padding: 2rem;
}

img {
    width: clamp(5rem, 30%, 15rem);

    border-radius: 10rem;

    align-self: center;
}

h1 {
    font-weight: 600;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    flex-grow: .1;
    
}

.description {
    color: hsl(0, 0%, 80%);
    font-weight: 00;
    flex-grow: .1;

}

a {
    text-decoration: none;
    color:  hsl(0, 0%, 100%);
    font-weight: 600;

    background-color: hsl(0, 0%, 20%);

    border-radius: 1rem;
    
    flex-grow: .1;

    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%); 
}